################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPITest/.vs
/WebAPITest/WebAPITest/bin/Debug/netcoreapp2.1
/WebAPITest/WebAPITest/obj
/WebAPITest/WebAPITest/bin
