<ul [@listStagger]="studentDataSource?.students">

  <div class="content">
    <div>
      <app-studentdetails *ngFor="let student of studentDataSource?.students; let i = index;" [student]="student">
      </app-studentdetails>
    </div>
    <div>
      <div class="text-center">
        <span class="button-box col-sm-1" *ngFor="let page of studentDataSource?.pages; let i = index;">
          <button class="btn btn-outline-danger " id="dropdownBasic1" (click)="onSelectPage(page)"> Page {{page}}
          </button>
        </span>
      </div>
  </div>